/***************CSS3 动画实例*********************/
@keyframes animation
{
	from {
		background: red;
	}
	to {
		background: yellow;
	}
}

@-moz-keyframes animation  /* Firefox */
{
	from {
		background: red;
	}
	to {
		background: yellow;
	}
}

@-webkit-keyframes animation /* Safari 和 Chrome */
{
	from {
		background: red;
	}
	to {
		background: yellow;
	}
}

@-o-keyframes animation /* Opera */
{
	from {
		background: red;
	}
	to {
		background: yellow;
	}
}

/****************定义动画DIV样式**************/
.animationDiv {
	animation: animation 5s;
	-moz-animation: animation 5s;	/* Firefox */
	-webkit-animation: animation 5s;	/* Safari 和 Chrome */
	-o-animation: animation 5s;	/* Opera */
	width:100%;
	min-width: 300px;
	min-height: 500px;
	background: url(../images/bg.jpg);  
}